.clone-app-dialog-backdrop{
    position:fixed;
    top:0px;
    left:0px;

    width:100%;
    height:100%;

    background:rgba(0, 0, 0, 0.4);

    display:none;
    justify-content: center;
    align-items: center;
}

.clone-app-dialog{
    background: #eeeeee;

    padding:15px;
    border-radius: 5px;

    width:30%;
    min-width: 350px;

    height:50%;
}

.step-1, .step-2, .step-3{
    height:100%;

    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.step-1 h3, .step-2 h3, .step-3 h3{
    font-size:1.8em;
    margin:10px;
    font-weight: bold;

    text-transform: uppercase;
}

.step-1{
    display:none;
}

.step-1 input{
    font-size:1.4em;
    background: #eeeeee;
    outline: none;
    border:1px solid #222222;
    color:#222222;

    padding:5px;
    border-radius: 5px;
}

.step-2{
    display:none;
    justify-content: space-between;
}

.step-2 .spinner{
    border: 16px solid #3498db; /* Light grey */
    border-top: 16px solid #f3f3f3; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

    margin:auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.step-3{
    display:none;
}

.step-3 p{
    font-size:7em;
    text-align:center;
}

.clone-app-dialog button{
    background: #eeeeee;
    color:#444444;

    font-size:1.1em;
    
    padding:10px;
    margin:5px;
    

    border:none;
    border-radius: 5px;

    text-transform: uppercase;
}

.clone-app-dialog span{
    margin-left:auto;
}
.clone-app-dialog button:hover{
    filter:contrast(90%);
}
.clone-app-dialog button:active{
    filter:contrast(70%);
}

.displayFlex{
    display:flex;
}