.clone-app-dialog-backdrop{
    position:fixed;
    top:0px;
    left:0px;

    width:100%;
    height:100%;

    background:rgba(0, 0, 0, 0.4);

    display:flex;
    justify-content: center;
    align-items: center;
}

.step-1, .step-2, .step-3{
    height:50vh;
    justify-content: space-around;
}

.clone-app-dialog h3{
    font-size:1.8em;
    margin:10px;
    font-weight: bold;
    text-transform: uppercase;
}

.step-2{
    justify-content: space-between;
}

.step-2 .spinner{
    border: 16px solid #3498db; /* Light grey */
    border-top: 16px solid #f3f3f3; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

    margin:auto;
}

.step-3 p{
    font-size:7em;
    text-align:center;
}

.clone-app-dialog span{
    margin-left:auto;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }