.config-dialog-backdrop{
    position:fixed;
    top:0px;
    left:0px;

    width:100%;
    height:100%;

    background:rgba(0, 0, 0, 0.4);

    display:flex;
    justify-content: center;
    align-items: center;
}

.config-dialog-body{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.config-dialog-header{
    text-align: center;
    font-size:1.5em;
}

.config-dialog-body div{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.config-dialog-body div button{
    align-self: flex-end;
}

.config-footer{
    display:flex;
    justify-content: flex-end;
}

.config-dialog-body label{
    font-family: sans-serif;
    margin-top:10px;
}